/* Allgemein */
*{
    box-sizing: border-box;
}

body{
  font-size: 16px;
  margin: 0;  
  background-color: rgb(149, 140, 140);
  font-family: minecraft, 'Times New Roman', Times, serif;
}

@font-face {
    font-family: minecraft;
       src: url(/fonts/minecraft-font/MinecraftBold-nMK1.otf);
   }
   


/* GRID */ 

#container{
    height: 95lvh;
    width: 90%;
    margin-left: auto;
margin-right: auto;
margin-top: 2.5vh;
margin-bottom:  2.5vh;
}

.row-10{
height: 10%;
width: 100%;
 border: 1px solid black;
}

.col-1{
    height: 100%;
    width: 100%;
    position: relative;
    
}

.col-1 div{
    display: inline-block;
    position: absolute;

}

.col-1 a{
    
    text-decoration: none;
    
}

.col-1 #middle{
left: 47.5%;
}

.col-1 #right{
    right: 0;
}

/* HEADER */


.row-55{
    height: 50%;
    width: 100%;
    border: 1px solid black;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}



.row-55 #description{
    height:60%;
}

#center{
    text-align: center;
}


.row-35{
    height: 35%;
    width: 100%;
   
    
}

#beschreibung p , h2  {
    margin: 0;
}


#beschreibung{
    height: 50%;
    width: 40%;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 30%;
    background-color: grey;
    padding: 2%;
   
}

.col-1-1{
    width: 100%;
    height: 100%;
    background-image: url(/img/backgroundMckitchen.jpg);
   
    background-repeat: no-repeat;
    background-position: center;
}

.col-3{
    height: 100%;

    border: 2px solid black;
    width: 30%;
    float: left;
   bottom: 0;
    
    text-align: justify;
}

.col-3 , h3{
    margin: 0;
}

.marginDiv{
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(https://placehold.co/1000x900);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* a */

a{
    color: black;
}

a:hover{
    color: grey;
}


/* RESPONSIVE */
@media (max-width: 900px){
    .col-3{
        width: 100%;
        margin: 0;
    }

    #beschreibung{
        width:100%;
        left: 0;
    }

    .col-1 #middle{
        left: 35.5%;
        }
        
  

}

